body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(98, 165, 224);
    color:#4b4545;
}
h1{
    font-size:100px;
    color:white;
    margin:0;
}
.hero {
    display: flex;
    justify-content: center;
    width:100%;
    padding-top:50px;
    /* background-image: url("Rotterdam.svg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    /* background-position: 0; */
    /* padding:100px; */
    /* text-align: center; */
}
main {
    width: 100%;
    padding:100px;    
    box-sizing: border-box;
}
#title {
    /* width:20px; */
}
.foot {
    width:50px;
    position: absolute;
    opacity: 0.8;
}
.right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.active-button {
    background-color: rgb(201, 254, 255);
    outline: none;
    border:none;
    padding:10px 20px;
    border-radius: 10px;;
    cursor:pointer;
    font-size: 16px;
    color: inherit;
    /* display: block; */
}

nav{
    z-index:1;
    position: fixed;
    top:20px;
    right:20px;
}
nav a {
   color:rgb(74, 74, 133);
   outline:none;
   text-decoration: none;
   border-bottom: 2px solid orange;
   padding: 3px 0;
   margin: 3px; 
}
#pages {
    margin-top: 100px;
    display: block;
    max-width: 1000px;
}
.page {
    margin: 20px 0;
    padding: 0 20px;
    max-width: 700px;
    width: 700px;
}
.page:nth-child(odd){
    border-left: 2px solid orange;
    float: left;
}
.page:nth-child(even){
    border-right: 2px solid orange;
    float: right;
    text-align: right;
}
#subhero {
    /* color:white; */
    font-size:20px;
    max-width:800px;
    font-weight: bold;
    /* margin-top: 50px; */
}
#skyline {
    margin: 40px 0;
    max-width:100%;
    z-index:-1
}