@media only screen and (max-width: 600px) {
    main {
        padding: 5px;
    }
    h1{
        font-size: 43px;
    }
    nav {
        text-align: center;
        width:100%;
        left:0;
        background-color: #7195b3;
        box-sizing: border-box;
        top: 0;
        padding-top: 12px;
        padding-bottom: 16px;
    }
    .page {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        margin:20px 0;
    }
    
    .page p {
        /* background-color: transparent; */
        font-size:13px;
        /* padding:0; */
    }
    footer {
        padding-left:30px;
    }
    #subhero{
        margin-left:0;
        padding:0 10px;
        font-weight: normal;
    }
    .hero {
        padding:100px 0;
        height:500px;
    }
    #reviews{
        padding:0;
    }
    #mewis {
        margin-bottom:30px;
    }
    .right, .right h3, .right p {
        float:none;
        text-align: left;
    }
    .page h3{
        text-align: center;
    }
    .review {
        width:200px;
        font-size:12px;
    }
    #book-me {
        width:90%;
        left:5%;
    }
    #book-me textarea{
        width:80%;
    }
    #pages {
        margin:0;
    }
    .reviewer-name {
        margin:5px;
    }
    .rating {
        margin:3px;
    }

    #foot {
        margin:0 auto;
    }
    nav a {
        font-size:15px;
        font-weight: normal;
    }
    #public-title-2{
        display:block;
    }
    .language-button {
        vertical-align: -40%;;
    }
}
