body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(98, 165, 224);
    /* background-image: url("rotterdam.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: color;
}
h1{
    font-size:100px;
    color:white;
}
.hero {
    display: flex;
    justify-content: center;
    width:100%;
    /* padding:100px; */
    /* text-align: center; */
}
main {
    width: 100%;
    padding:100px;    
    box-sizing: border-box;
}
#title {
    /* width:20px; */
}
.foot {
    width:50px;
    position: absolute;
    opacity: 0.8;
}
.right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.active-button {
    color:aliceblue;
    background-color: rgb(62, 179, 181);
    outline: none;
    border:none;
    padding:10px 20px;
    border-radius: 10px;;
    cursor:pointer;
    /* display: block; */
}

nav{
    z-index:1;
    position: fixed;
    top:20px;
    right:20px;
}
nav a {
   color:rgb(74, 74, 133);
   outline:none;
   text-decoration: none;
   border-bottom: 2px solid orange;
   padding: 3px 0;
   margin: 3px; 
}
#pages {
    margin-top: 50px;
}
.page {
    margin: 50px 0;
    border-left: 2px solid orange;
    padding: 0 20px;
}