@media only screen and (max-width: 600px) {
    main {
        padding: 3%;
    }
    h1{
        font-size: 50px;
    }
    nav {
        text-align: center;
        width:100%;
        left:0;
    }
    .page {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        height: auto;
    }
    #public-speaking-rotterdam{
        background-image: url("public_speaking_mobile.jpg");
    }
    #public-speaking-rotterdam p{
        margin: 0;
        margin-top:60px;
    }
    .page p {
        background-color: transparent;
        font-size:15px;
        padding:0;
    }

}